@import "../variables";
@import "../copy-pasta-theme";

mat-toolbar{
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  margin-bottom: $toolbar-margin-bottom;

  .toolbar-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .homepage-button{
      height: 39px;
    }

    .homepage-button:hover {
      filter: contrast(200%);
      transition: filter 0.5s ease;
      cursor: pointer;
    }

    .new-recipe-and-user {
      display: flex;
      align-items: center;

      @media screen and (max-width: $mobile-start-width) {
        .add-button-large {
          display: none;
        }

        .add-button-small {
          display: block;
        }

        .add-button {
          mat-icon {
            right: 0px;
          }
        }
      }

      @media screen and (min-width: $mobile-end-width) {
        .add-button-large {
          display: block;

        }

        .add-button-small {
          display: none;
        }

        .add-button {
          mat-icon {
            right: 7px;
          }
        }
      }

      .add-button{
        color: white;

        mat-icon{
          position: relative;
          bottom: 1px;
        }
      }

      .logged-in-user {
        display: flex;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 16px;

        mat-icon {
          transition: .4s ease;
        }

        .highlighted-icon {
          color: $primary-color;
          transform: rotate(180deg);
        }
      }

      .logged-in-user:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.hi-username {
  width: 145px;
}

.language-selector {
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;

  .chevron-icon {
    position: relative;
    bottom: 2px;
  }

  .chevron-left {
    right: 2px;
  }

  .chevron-right {
    left: 1px;
  }

  .language-flag {
    width: 100%;
    height: 24px
  }
}

